doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="theme-color", content="#CE0000")
        meta(name="author", content="Agne Ødegaard")
        meta(name="description", content="Simply a Flappy Bird Clone")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="format-derection", content="telephone=no")
        title Bitking
        link(rel="stylesheet", href="css/main.css")
    body

        script(src="js/main.js")
    
    